:root {
    --px-small: 10px;
}
@media screen and (max-width: 767px) {
    nav {
        flex-direction: column;
    }

}
html {
    border-top: 2px solid #2DD4E0;
    padding: 0;
    margin: 0;
    color: #36322F;
    font-family: Arial, sans-serif;
}
body {
    max-width: 1000px;
    margin: auto;
    padding: var(--px-small);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #2DD4E0;
}
nav {
    /* border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); */
    margin: 20px auto;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
    justify-content: space-between;
}
nav li {
    display: inline;
    list-style-type: none;
}
nav a {
    color: #36322F;
    text-decoration: none;
    margin-right: 15px;
    display: block;
    width: auto;
}
nav a:hover {
    color: #E0762D;
}
.content {
    line-height: 1.6;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin: 20px auto;
    padding: var(--px-small);
}
footer {
    margin-top: 20px;
    padding-top: var(--px-small);
    border-top: 1px solid #ddd;
    font-size: 0.9em;
}